/*-------------------------------------------*/
/* Base Styles
/*-------------------------------------------*/

html {
  font-size: 62.5%;
}

body {
  background: black;
}

@media (max-width: 853px) {
  div#container {
    width: 100%;
  }

  h1 {
    font-size: 1.8em;
  }
}

@media (min-width: 854px) {
  div#container {
    width: 75%;
  }

  h1 {
    font-size: 3.6em;
  }
}

img {
  display: block;
  width: 64em;
  max-width: 100%;
}

h1 {
  color: white;
  text-align: center;
  font-family: "Russo One", sans;
}

.center {
  margin: 0 auto;
}
